*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
 }

  
  body{
    min-height: 100vh;
  }
  header .brand img{
    height: 60px;
  }
  .section-main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(74,164,195,.8), rgba(0,0,0,0.1)), 
    url(image/portada.PNG) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
  }
  
  .section-main h1{
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000000;
  }
  
  header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: 0.6s;
  }
  
  header.down{
    background: #1483D5;
    padding: 15px 80px;
  }
  
  header .brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  header .menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header .menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .menu ul li{
      list-style: none;
  }
  
  header .menu a{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 7px 12px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
  }
  
  header .menu a:hover{
    color: #000;
    background: #fff;
  }
  
  .section-two{
    padding: 20px;
  }
  
  header .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 991px){
    header, header.down{
        padding: 20px 40px;
    }
    header .btn{
      display: block;
    }
  
    header .menu{
      position: fixed;
      background: #1483D5;
      min-width: 330px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  
    header .menu ul{
        flex-direction: column;
      }
  
    header .menu.active{
      right: 0;
    }
  
    header .menu .close-btn{
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    header .menu a{
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
    }
  }
  
  @media (max-width: 600px){
    .section-main h1{
      font-size: 50px;
      line-height: 60px;
    }
  }
  footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
  }
  footer section {
      float: right;
  }
  footer p {
      margin: 0;
  }
  footer a {
      transition: color 0.3s ease;
      color: #fff;
      text-decoration: none;
  }
  footer a:hover {
      color: cornflowerblue;
  }

  #linkedin {
    color: #00008b;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
  }
  #linkcorreo {
    color: #00008b;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
  }
  #correo {
      color: #000000;
      text-align: center;
      display: inline-block;
      width: 100%;
      font-size: 1.5rem;
  }
  #celular {
      color: #000000;
      text-align: center;
      font-size: 1.5rem;
  }

  #contactame {
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
  }
  .datos_contacto {
    background-color: #deb887;
    color: white;
    
  }
  #introduccion {
    color: #483d8b;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }
  #acerca_de_mi {
    color: #000000;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 2rem;
  }
  .foto_inicio{
    display: flex;
    justify-content: center;
  }
  .section-two {
    background-color: #faebd7;
  }
  .titulo_section {
    text-align: center;
    width: 100%;
    background-color: #66cdaa;
  }
  .subtitulo_section {
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 100%;
    font-size: 3rem;
    background-color: #1483D5;
  }
  #objetivo_profesional {
    color: #483d8b;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }
  .subtitulo__3 {
    color: #000  ;
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
  .clase__habilidades {
    color: #222 ;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }
  #videocurriculum {
    color: #00008b  ;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }
  #frase__favorita {
    color: #663399 ;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }